main table{
    width: 100%;
    border: 1px solid #feae00;
    border-spacing: 0px;
    margin-top:3%;
    border-collapse: collapse; 
}

main th, td{
    width: 25%;
    font-family: Georgia, 'Times New Roman';
    font-size: 1.2em;
    text-align: center;
}

main th{
    color:white;
    background-color: #feae00;
    padding: 5px;
}

main td{
    padding: 0;
    margin: 0;
    padding-left:2%;
    padding-right:2%;
    overflow-y: scroll;
}

main table tr:nth-child(odd){
    background: white;
}

main table img{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 150px;
    background: none;
}

img:hover{
    background: none;
}

.table-text-cells{
    font-size: 1.5em;
    text-align: center;
}

footer{
    position: relative;
}