body{
    background-color: #F9D977;
    font-family: 'Calibri';
}

main>h1{
    text-align: center;
}
main>h1>small{
    color: #FEAE00;
    font-size: 1.2em;
    font-weight: 700;
}

footer{
    position: absolute;;
    bottom:3%;
    height:5%;
    font-style: italic;
}

nav, .nav-bar-buttons, .logo, img{
    background-color: #333;
}

.nav-bar-buttons{
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width: 17.2%;
    vertical-align: middle;
    text-align: center;
    color: azure;
    text-decoration: none;
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo{
    float: left;
    max-width: 14%;
    padding-bottom: 0.2%;
}

.logo > img{
    padding-top:2%;
    max-width: 100%;
    height: auto;
    width: auto;
}
.nav-bar-buttons:hover {
    background-color:#FEAE00;
}
.logo:hover, img:hover {
    background-color:#ddd;
}